<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312190583960-lldka090dq4bc5db35klna81u0c7s4l0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312190583960-lldka090dq4bc5db35klna81u0c7s4l0</string>
	<key>API_KEY</key>
	<string>AIzaSyAXnR7VfVel24F8ZFegtC8tNGvNZRciXUY</string>
	<key>GCM_SENDER_ID</key>
	<string>312190583960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>hospitalapp-2ae28</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitalapp-2ae28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312190583960:ios:c08fc8e69d36555e3fbced</string>
</dict>
</plist>